<h2>在庫数引き落とし画面</h2>

<%= form_with(model: @stock,local: true) do |form| %>
  <table>
    <tr>
      <th>品名</th>
      <td><%= form.text_field :item, id: "stock-item",placeholder: "品名" %></td>
    </tr>
    <tr>
      <th>数量</th>
      <td><%= form.text_field :quantity, id: "stock-quantity",placeholder: "数量" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= form.submit "在庫引き落とし", id:"stock-button" %></td>
    </tr>
  </table>
<% end %>
  