// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purchase{
  text-align: center;
 
}

.purchase_order{
  padding :5px ;
}

.purchase_item{
  padding : 5px ;
}

.purchase_quantity{
  padding : 5px ;
}

.purchase_price{
  padding : 5px ;
}

.purchase_btn{
  padding : 5px ;
}

.error-alert {
  display: flex;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}