// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
  margin: 20px;
  text-align: center;
}

.item-btn{
  text-align: center;
  background-color: yellow;
  font-size: 24px;
  color: blue

}